body {
    text-align: center;
    background: rgb(44, 58, 58);
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 30px;
}

input {
    width: 100px;
 
}

/* adding variables to CSS elements */
:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur))
}

.controls {
    margin-bottom: 50px;

}

.highlight {

}

#spacing {

}

#blur {

}

#base {

}
